:root {
  --shadow: 
      0 2px 23px 0 rgba(0, 0, 0, 0.1),
      0 2px 49px 0 rgba(0, 0, 0, 0.06);

  --header-height: 150px;
  --footer-height: 40px;
}

@font-face {
  font-family: 'JosefinSans';
  src: url(../../../public/fonts/JosefinSans-Light.ttf);
}

*{
  box-sizing: border-box; /*altera a forma de calculo do tamanhoa da tela, levando em consideração a borda e o padding introduzido no elemento*/
  font-family: 'JosefinSans';

}

.app{ /*classe para organizar a página e seus componentes*/
  height: 180vh;
  display: grid;
  margin: 0px;
  grid-template-columns: 15% 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas: 
    "logo body"
    "nav body"
    "nav footer";
}

aside.logoMark {
  grid-area: logo;
  
}

aside.menu {
  grid-area: nav;
}

main.body {
  grid-area: body;
}

footer.footer {
  grid-area: footer;
}


@media (max-width: 1130px){

  .app{
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 70px 1fr var(--footer-height);
    grid-template-areas: 
    "logo"
    "nav"
    "body"
    "footer";
  }

}

@media (max-width: 770px){
  .app{
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 70px 1fr var(--footer-height);
  }
}

 










