/*Criando variáveis*/
:root {
    --shadow: 
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06); 

    --style-font: italic;
}

.header{
    background-color: -webkit-linear-gradient(90deg, #ffffff,#e2deda,#5e5e5e);/* Chrome 10-25, Safari 5.1-6 */                          
    background-color: linear-gradient(90deg, #ffffff,#e2deda,#5e5e5e);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    overflow: hidden; /*Oculta o conteúdo que ultrapassa o tamanho definido no width e height*/  
    white-space: nowrap; /*Evita que o conteúdo quebre e passe para a próxima linha*/     
    box-shadow: var(--shadow); /*Usando a variável criada acima*/
    font-weight:800;
    height: 150px; 
}

.title{
    font-size: 40px;
}

.subtitle{
    font-size: 25px;
    font-weight: 300;
    font-style: var(--style-font); /*Chamando variável criada no topo do arquivo*/
}
