.logoMark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #022b29;
    
}


.logo{
    border-radius: 15px;
    width: 210px;
    box-shadow: 20px -10px 30px rgba(0, 0, 0, 0.9);
    object-fit: cover;
    margin-bottom: 20px;

}

@media(max-width: 1500px){
    .logo{
        width: 150px;
    }
}


@media(max-width: 1130px){
    .logo{
        width: 210px;
    }
}
