.divRelatorios{
    display: block;
    background-color: white;
    box-shadow: var(--shadow);
    height: 200px;
    border-radius: 5px;
    margin-right: 15px;

}

.reportAnimals{
    background-color: white;
    box-shadow: var(--shadow);
    height: 880px;
    border-radius: 5px;
    padding-top: 3px !important;
    padding: 5px;
}

.fontTitle{
    color: white;
    font-weight: bold;
}

.reportTitle{
    margin-top: 10px;

}

.reportFilterForm{
    border: 1px solid black;
    height: 180px;
    box-shadow: var(--shadow);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reportFilterForm form {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza os elementos verticalmente */
    flex-wrap: wrap; /* Permite que os elementos "quebrem" para a próxima linha se necessário */
    margin: 20px;
}

.reportHeaderTitle{
    background: -webkit-linear-gradient(90deg, #197713,#034440);
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: -16px;
}

.containerReport{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.reportTable{
    overflow: auto;
    max-height: calc(8 * 65px);
}

.exportReport{
    width: 110px;
    margin-left: 10px;

}

@media (max-width: 1445px) {
    .reportFilterForm {
        flex-wrap: wrap; /* Permite quebra de linha */
        gap: 1rem; /* Espaçamento uniforme entre linhas */
        height: 300px;
    }

    .exportReport{
        margin-bottom: 10px !important;
    }
}



@media(max-width: 765px){
    .table{
        display: none;
    }

    .buttonExport{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .exportReport{
        width: 100%;
        margin-top: 30px !important;
        margin-right: 0px;
        margin-left: 0px;
    }

    .reportAnimals{
        height: 550px;
    }
}

@media(max-width: 630px){
    .reportFilterForm {
        flex-wrap: wrap; /* Permite quebra de linha */
        gap: 1rem; /* Espaçamento uniforme entre linhas */
        height: 400px;
    }
}